{% extends "_base.html" %} {% load static %} {% block content %}
<div
  class="flex flex-col items-center gap-10 self-stretch"
  id="frame-principal"
>
  <div class="h-auto w-full" id="banner-deals">
    <img
      src="{% static 'img/home-banner-01.png' %}"
      alt="Banner Promoção 55%%"
    />
  </div>
  <div
    class="px-26 flex items-start justify-center gap-10 self-stretch py-0"
    id="category"
  >
    {% for category in categories %}
    <a href="#">
      <div
        class="flex-[1 0 0%] hover:bg-accent flex h-12 w-52 cursor-pointer items-center justify-center gap-3 rounded-md border-2 border-[#2a2a2a]"
      >
        <img
          src="{% static 'img/public/' %}{{category.slug}}.svg "
          alt="{{category.name}}"
        />
        <h2 class="text-sm font-bold">{{category.name}}</h2>
      </div>
    </a>
    {% endfor %}
  </div>
  <div id="deals"></div>
</div>
{% endblock content %}
