{% extends "_base.html" %}
{% load static %}
{% load filters %}
{% block content %}
  <div class="flex flex-col items-center gap-10 self-stretch"
       id="frame-principal">
    {% include "include/home_banner_01.html" %}
    {% include "include/category.html" %}
    {% include "include/deals.html" %}
    {% include "include/banners.html" %}
    {% include "include/keyboards.html" %}
    {% include "include/home_banner_04.html" %}
    {% include "include/mouses.html" %}
  </div>
{% endblock content %}
