<nav class="flex items-center justify-between self-stretch px-28 py-10">
  <div>
    <a href="{% url 'home:index' %}">
      <h1 class="hover: text-2xl font-bold">
        <span class="text-primary">FSW</span> Store
      </h1>
    </a>
  </div>
  <div class="flex items-center gap-9 text-base font-bold">
    <a href="{% url 'home:index' %}"
       class="hover:text-lg hover:text-primary">
      <h2>Início</h2>
    </a>
    <svg width="3"
         height="26"
         viewBox="0 0 3 26"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M1.5 25L1.5 1" stroke="#2A2A2A" stroke-width="2" stroke-linecap="round" />
    </svg>
    <a href="{% url 'categories:catalog' %}"
       class="hover:text-lg hover:text-primary">
      <h2>Catálogo</h2>
    </a>
    <svg width="3"
         height="26"
         viewBox="0 0 3 26"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M1.5 25L1.5 1" stroke="#2A2A2A" stroke-width="2" stroke-linecap="round" />
    </svg>
    <a href="{% url 'categories:offers' %}"
       class="hover:text-lg hover:text-primary">
      <h2>Ofertas</h2>
    </a>
  </div>
  <div class="flex items-center justify-end gap-9">
    <div class="flex h-9 w-9 flex-col items-center justify-center rounded-md border-2 border-[#2a2a2a] hover:border-purple-700 hover:bg-primary">
      <svg width="20"
           height="20"
           viewBox="0 0 20 20"
           fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M9.99998 10.8333C12.3012 10.8333 14.1666 8.96785 14.1666 6.66667C14.1666 4.36548 12.3012 2.5 9.99998 2.5C7.69879 2.5 5.83331 4.36548 5.83331 6.66667C5.83331 8.96785 7.69879 10.8333 9.99998 10.8333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M16.6666 17.5C16.6666 15.7319 15.9643 14.0362 14.714 12.786C13.4638 11.5358 11.7681 10.8334 9.99998 10.8334C8.23187 10.8334 6.53618 11.5358 5.28593 12.786C4.03569 14.0362 3.33331 15.7319 3.33331 17.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
    <button class="flex h-9 w-9 flex-col items-center justify-center rounded-md border-2 border-[#2a2a2a] hover:border-purple-700 hover:bg-primary"
            type="button"
            data-drawer-target="drawer-right-example"
            data-drawer-show="drawer-right-example"
            data-drawer-placement="right"
            aria-controls="drawer-right-example">
      <svg width="20"
           height="20"
           viewBox="0 0 20 20"
           fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_856_2549)">
        <path d="M6.66665 18.3333C7.12688 18.3333 7.49998 17.9602 7.49998 17.5C7.49998 17.0397 7.12688 16.6666 6.66665 16.6666C6.20641 16.6666 5.83331 17.0397 5.83331 17.5C5.83331 17.9602 6.20641 18.3333 6.66665 18.3333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M15.8333 18.3333C16.2936 18.3333 16.6667 17.9602 16.6667 17.5C16.6667 17.0397 16.2936 16.6666 15.8333 16.6666C15.3731 16.6666 15 17.0397 15 17.5C15 17.9602 15.3731 18.3333 15.8333 18.3333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M1.70831 1.70837H3.37498L5.59165 12.0584C5.67296 12.4374 5.88387 12.7763 6.18807 13.0166C6.49227 13.2569 6.87073 13.3837 7.25831 13.375H15.4083C15.7876 13.3744 16.1554 13.2444 16.4508 13.0066C16.7463 12.7687 16.9518 12.4371 17.0333 12.0667L18.4083 5.87504H4.26665" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </g>
        <defs>
        <clipPath id="clip0_856_2549">
        <rect width="20" height="20" fill="white" />
        </clipPath>
        </defs>
      </svg>
    </button>
  </div>
</nav>
<!-- drawer component -->
<div id="drawer-right-example"
     class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full border-1 border-accent bg-black w-96"
     tabindex="-1"
     aria-labelledby="drawer-right-label">
  <h5 id="drawer-right-label"
      class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
    <svg class="w-4 h-4 mr-2.5"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         fill="currentColor"
         viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
    </svg>
    Right drawer
  </h5>
  <button type="button"
          data-drawer-hide="drawer-right-example"
          aria-controls="drawer-right-example"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
    <svg class="w-3 h-3"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
</div>
