{% extends "_base.html" %}
{% load filters %}
{% block title %}
    {{ product.name }}
{% endblock title %}
{% block content %}
    <div class="flex py-10 px-28 gap-8 self-stretch h-[46.875rem]">
        {% include "../product/include/imageproduct.html" %}
        <div class="p-10 flex flex-col justify-between items-center self-stretch flex-[1 0 0%] bg-accent rounded-md w-[38%] gap-3">
            {% include "../product/include/productinfo.html" %}
            {% include "../product/include/pricequantity.html" %}
            <!-- DESCRIPTIONS  -->
            <div id="description" class="gap-2 flex flex-col items-start self-stretch">
                <h2 class="text-xl font-bold">Descrição</h2>
                <p class="text-xs">{{ product.description }}</p>
            </div>
            <!-- BUTTON BANNER  -->
            <div id="button-banner"
                 class="flex flex-col items-center gap-4 self-stretch w-full">
                <div id="button-add"
                     class="bg-primary rounded-xl w-full gap-2 flex py-2 px-0 items-center justify-center self-stretch hover:bg-purple-500">
                    {% comment %} #TODO: Adicionar função para adicionar ao carrinho {% endcomment %}
                    <h2 class="uppercase font-bold">Adicionar ao carrinho</h2>
                </div>
                <div id="banner-packet"
                     class="flex py-2 px-6 justify-between items-center self-stretch bg-[#2a2a2a] rounded-lg">
                    {% comment %} #TODO: API melhor envio! {% endcomment %}
                    <div id="content-banner-packet"
                         class="flex h-11 justify-center items-center gap-3">
                        <svg class="w-4 h-4 text-white"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             viewBox="0 0 20 16">
                            <path d="M19.9 6.58c0-.009 0-.019-.006-.027l-2-4A1 1 0 0 0 17 2h-4a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a1 1 0 0 0 1 1h.3c-.03.165-.047.332-.051.5a3.25 3.25 0 1 0 6.5 0A3.173 3.173 0 0 0 7.7 12h4.6c-.03.165-.047.332-.051.5a3.25 3.25 0 1 0 6.5 0 3.177 3.177 0 0 0-.049-.5h.3a1 1 0 0 0 1-1V7a.99.99 0 0 0-.1-.42ZM16.382 4l1 2H13V4h3.382ZM4.5 13.75a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5Zm11 0a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5Z" />
                        </svg>
                        <div class="flex flex-col items-start gap-1">
                            <p class="text-base">
                                Entrega via <span class="font-bold italic">FSPacket®</span>
                            </p>
                            <p class="text-sm text-purple-600">
                                Envio para <span class="font-bold">todo Brasil</span>
                            </p>
                        </div>
                    </div>
                    <p class="text-xs font-bold">Frete Grátis</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
