{% load static %}
<div id="banners"
     class="flex py-0 px-28 justify-center items-start gap-9 self-stretch h-56">
     <img src="{% static 'img/home-banner-02.png' %}"
          width="0"
          height="0"
          alt="Banner promoção mouses"
          sizes="100vw"
          class="object-contain w-auto h-auto max-w-[100%] max-h-[90%]" />
     <img src="{% static 'img/home-banner-04.png' %}"
          width="0"
          height="0"
          alt="Banner promoção mouses"
          sizes="100vw"
          class="object-contain w-auto h-auto max-w-[100%] max-h-[90%]" />
</div>
