<!-- Base HTML -->

{% load static %}

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}FSW Store - Django Project E-Commerce{% endblock title %}
    </title>
    {% include "include/_css.html" %}
  </head>
  <body>
    <div class="container font-['Poppins']">
      <div class="flex flex-col items-center gap-10 self-stretch">
        {% include "include/_nav.html" %}
        <div>{% block content %}{% endblock content %}</div>
        {% include "include/_js.html" %}
      </div>
    </div>
  </body>
</html>
